<?xml version="1.0" encoding="ISO-8859-1" ?>
<zalpha>
	
	<Paths DATAROOT="~/data" RAWDATA="{DATAROOT}/rawData" CACHE="{DATAROOT}/cache"
		   LOCAL="~/PycharmProjects/zalpha"/>

	<!-- backdays? checkPointDays? -->
	<Constants backdays="256" checkPointDays="5"/>

	<!-- All the modules to be combined together -->
	<Modules>
		<!-- Basic environment needed to be loaded into context. Only one environment can be loaded.
		 Mainly to load ticker-index mapping and date-index mapping.
	 	 class: Python class to analyze environment data.
	 	 dataPath: Path of raw data to be loaded as environment. Needed to be cached before used.
	 	 cachePath: Path of cached (dumped) data to be loaded as environment. If cache exists,
	 	 dataPath will be useless.
	 	-->
        <Environment>
            <Module id="envStandard" class="environment.env_standard.EnvStandard" dataPath="" cachePath="" startDate="20060101" endDate="0"/>
        </Environment>

		<!-- Universe Modules, which return the top-highest-liquidity stocks which can be traded
		under the filter conditions.
		universe: Number of stocks selected
		windowDays: Number of days from which the top average trading-amount stocks are selected
		minAmount: Minimal trading amount (Filter condition)
		minPrice: Minimal price (Filter condition)
		maxPrice: Maximal price (Filter condition)
		minCap: Minimal capital (Filter condition)
		postIPO: Number of days after which stocks can be traded after IPO (Filter condition)
		minLive: Number of days the stock has been traded in a row (Filter condition)
		-->
        <Universe>
            <Module id="TOP500" class="data_manager.dm_universe.DataManagerUniverse" cachePath="{CACHE}/universe/TOP500" dataPath=""
                    universe="500" windowDays="63" minPrice="1." maxPrice="1000." minAmount="0." minCap="0." minLive="40"/>
        </Universe>

		<!-- Data Modules -->
        <Data>
            <Module id="basedata" class="data_manager.dm_basedata.DataManagerBaseData" cachePath="{CACHE}/basedata/bin" dataPath=""/>
            <Module id="wind.financeindex" class="data_manager.dm_windfinance.DataManagerWindFinance" cachePath="{CACHE}/wind/bin" dataPath=""/>
            <Module id="adjPrice" class="data_manager.dm_adjprice.DataManagerAdjPrice"/>
        </Data>

		<!-- Alpha Modules -->
        <Alpha>
		    <Module id="AlphaSample" class="alpha.alpha_sample.AlphaSample"/>
        </Alpha>

		<!-- Operation Modules -->
        <Operation>
            <Module id="AlphaOpTruncate" class="operation.op_truncate.OperationTruncate"/>
            <Module id="AlphaOpDecay" class="operation.op_decay.OperationDecay"/>
            <Module id="AlphaOpNeutral" class="operation.op_neutral.OperationNeutral"/>
            <Module id="AlphaOpPower" class="operation.op_power.OperationPower"/>
        </Operation>

		<!-- Performance Modules -->
        <Performance>
		    <Module id="Performance" class="performance.performance.Performance" longmode="" shortmode="" longcapital="" shortcapital="" tax="0." fee="0."/>
        </Performance>
    </Modules>

	<!-- delay? method? ndays? -->
    <!-- Modules will be ran according to their dependencies.
         For some modules if there exists no dependencies, they would be ran in order according to this xml
     -->
	<AlphaTest id="zalpha" delay="1" method="1" ndays="5" startDate="20100101" endDate="20141231">
		<Environment moduleId="envStandard"/>
		<Alphas>
            <!-- Two Alpha tags can not have the same alphaId value -->
            <Alpha alphaId="AlphaSample" universeId="TOP500"/>
        </Alphas>
		<Operations>
			<Operation moduleId="AlphaOpPower" exp="3.0"/>
			<Operation moduleId="AlphaOpDecay" days="10"/>
			<Operation moduleId="AlphaOpTruncate" maxPercent="0.1"/>
			<Operation moduleId="AlphaOpNeutral" group="industry"/>
		</Operations>
		<Performance moduleId="Performance"/>
	</AlphaTest>

	<!--
	<Portfolio moduleId="Portfolio" id="zalpha" booksize="20e6" homecurrency="CNY" combinationId="AlphaComboSample" doCombo="False">
		<Stats moduleId="StatsSample" tax="0." fee="0."/>
		<Alpha moduleId="AlphaSample" id="hzalpha" universeId="TOP500" booksize="20e6" delay="1" method="1" ndays="5">
			<Description name="hzalpha" author="hz" birthday="20161018" category="price_volume" delay="1"/>
			<Operations>
				<Operation moduleId="AlphaOpPower" exp="3.0"/>
				<Operation moduleId="AlphaOpDecay" days="10"/>
				<Operation moduleId="AlphaOpTruncate" maxPercent="0.1"/>
				<Operation moduleId="AlphaOpIndNeut" group="industry"/>
			</Operations>
		</Alpha>
	</Portfolio>
	-->

</zalpha>