<?xml version="1.0" encoding="ISO-8859-1" ?>
<zalpha>

	<Paths DATAROOT="F:\zalpha\zalpha\data" RAWDATA="" CACHE="{DATAROOT}\cache"
		   LOCAL=""/>

	<Constants backdays="256" checkPointDays="5"  startDate="20100104" endDate="20141231"/>

	<!-- All the modules to be combined together -->
	<Modules>
        <Module id="envStandard" class="environment.env_standard.EnvStandard" dataPath="{DATAROOT}" cachePath="{CACHE}" startDate="20100104" endDate="20141231"/>

        <!-- Universe -->
        <Module id="TOP500" class="data_manager.dm_universe.DataManagerUniverse" cachePath= "{CACHE}\universe\TOP500" dataPath=""
                universe="500" windowDays="63" minPrice="1." maxPrice="1000." minAmount="0." minCap="0." minLive="40" startDate="20070104" endDate="20141231"/>

		<!-- Data Managers -->
        <Module id="basedata" class="data_manager.dm_basedata.DataManagerBaseData" cachePath="{CACHE}\basedata" dataPath="{DATAROOT}\raw_stock_daily_data" sectorPath="{DATAROOT}\raw_sector_daily_data" startDate="20060104" endDate="20141231"/>
        <!-- <Module id="wind.financeindex" class="data_manager.dm_windfinance.DataManagerWindFinance" cachePath="{CACHE}/wind/bin" dataPath="" startDate="" endDate=""/> -->
        <Module id="adjPrice" class="data_manager.dm_adjprice.DataManagerAdjPrice" startDate="20100104" endDate="20141231"/>

		<!-- Alpha Modules -->
        <Module id="AlphaSample" class="alpha.alpha_sample.AlphaSample"/>

		<!-- Operation Modules -->
        <Module id="AlphaOpTruncate" class="operation.op_truncate.OperationTruncate"/>
        <Module id="AlphaOpDecay" class="operation.op_decay.OperationDecay"/>
        <Module id="AlphaOpNeutral" class="operation.op_neutral.OperationNeutral"/>
        <Module id="AlphaOpPower" class="operation.op_power.OperationPower"/>

		<!-- Performance Modules -->
        <Module id="Performance" class="performance.performance.Performance" longcapital="100000000" shortcapital="100000000" tax="0." fee="0."/>
    </Modules>

    <Environment moduleId="envStandard"/>
    <Sim>
        <Case id="zalpha" delay="1" method="1" ndays="5">
            <Universe moduleId="TOP500"/>
            <Alpha moduleId="AlphaSample"/>
            <Operations>
                <Operation moduleId="AlphaOpPower" exp="3.0"/>
			    <Operation moduleId="AlphaOpDecay" days="10"/>
                <Operation moduleId="AlphaOpNeutral" group="industry"/>
			    <Operation moduleId="AlphaOpTruncate" maxPercent="0.1"/>
            </Operations>
            <Performance moduleId="Performance"/>
        </Case>

        <!--<Case id="alpha5dr" delay="1" method="1" ndays="5">-->
            <!--<Universe moduleId="TOP500"/>-->
            <!--<Alpha moduleId="AlphaSample"/>-->
            <!--<Operations>-->
                <!--<Operation moduleId="AlphaOpPower" exp="3.0"/>-->
			    <!--<Operation moduleId="AlphaOpDecay" days="10"/>-->
			    <!--<Operation moduleId="AlphaOpTruncate" maxPercent="0.1"/>-->
			    <!--<Operation moduleId="AlphaOpNeutral" group="industry"/>-->
            <!--</Operations>-->
            <!--<Performance moduleId="Performance"/>-->
        <!--</Case>-->
    </Sim>

</zalpha>